phaseAnalysis/
2Hvenv/
xx.py
yy.py
__pycache__/xx.cpython-312.pyc
modl/__pycache__/loadgwy.cpython-312.pyc
modl/loadHeaderTbls.py
imagingPhase/__pycache__/__init__.cpython-312.pyc
imagingPhase/__pycache__/load_data.cpython-312.pyc
modl/loadgwy.py
pipe/loadHeaderTbls.py
xx.py
testModule.ipynb
2HTaSe2_ap_118K002.gwy
xx.py
xx.py
*.pyc
testmpl.py
pa.pkl
__pycache__/useful.cpython-312.pyc
__pycache__/useful.cpython-312.pyc
2H_TaSe2_bilayer_side_view.png
2H_TaSe2_monolayer_side_view_ref.png
2H_TaSe2_side_view.png
atomic_lattice_top_view.png
honeycomb_lattice_bipartite.png
honeycomb_lattice_top_view.png
bender.py
